# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\louis\OneDrive - Roskilde Universitet\RUC\Datalogi\Software Development\studentCourseGrades\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
